body {
    background-color: #5040F5;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #476FF5;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
}
