*{
    margin: 0;
    padding: 0;

}


.cabecalho {
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}



.cabelho-imagem{
    width: 20%;
}

.escola{
background-image:linear-gradient(#2088ce, #0f64aa) ;
color:white;
display: flex;
justify-content:center;
align-items: center;
padding: 24px 0;
} 
